body {
    margin: 0;
}

* {font-size: 62.5%;}

@media only screen and (max-width: 900px) {
    * {
      font-size: 56.25%
    }
  }

@media only screen and (max-width: 600px) {
* {
    font-size: 50%
}
}

::selection{
  background: #FF4754;
  color: white;
}

html {
  scroll-behavior: smooth;
}